@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    background-size: 100% !important;
    min-height: 100vh !important;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 2em;
    min-height: inherit;
}

#root>main {
    flex: 1;
}

body::before {
    content: "";
    position: fixed;
    width: 100%;
    min-height: 100%;
    display: block;
    -webkit-mask-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
    mix-blend-mode: screen;
    z-index: 0;
    inset: 0;
    background: url(https://www.nightfall.co.il/files/images/stars.webp) center top / 50vmin repeat;
    z-index: -1;
    opacity: 0.5
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.button,
nav a {
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav a svg {
    transition: transform 0.5s;
    transform-origin: center center;
}

nav a.active svg {
    transform: rotate(5deg) scale(1.2);
}


.grid {
    display: grid;
    gap: max(2em, 3vmin);
    grid-template-columns: repeat(1, 0.95fr);
    justify-content: center;
    margin: 0.5em;
}

@media (width > calc(25ch * 2)) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > calc(30ch * 3)) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width > calc(30ch * 4)) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}